.ToolMyValues{
    width: 100%;
   display: block;


   ul{
        margin-top: 3rem;
       li{
           h2{
               font-size: 26px;
               font-family: 'Raleway', sans-serif;
                font-weight: 500;
                color:#ffff;
                margin-bottom: 1rem;
            }
            p{
                font-size: 18px;
                font-family: 'Raleway', sans-serif;
                 font-weight: 300;
                 color:#ffff;
            }
       }
   }
}